@mixin fontAll($font-weight, $font-size, $line-height) {
	font-weight: $font-weight;
	font-size: $font-size;
	line-height: $line-height;
}

@mixin resetList {
	margin: 0;
	padding: 0;
	list-style: none;
}

@mixin transition {
	transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
}
